@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #292e47;
    font-size: 14px;
    line-height: 20px;
    background: #f2f4fc;
}
/* Navbar */
.navbar {
    color: white;
    font-size: 17px;
    margin-top: 30px;
}
.nav-button {
    text-decoration: none!important;
    color: white;
    background: #072ac8;
    margin-left: 15rem;
}
.hero-button {
    text-decoration: none!important;
    color: white;
    background: #072ac8;
    margin-left: 5rem;
}
.hero-text-button {
    color: #6b708d;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}
.nav-button:hover {
    color: white;
    background: #292e47;
}
.hero-button:hover {
    color: white;
    background: #292e47;
}
.navbar-brand {
    margin-right: 15rem;
    color: #072ac8;
    font-weight: 700;
    padding-top: 5px;
}
.navbar-brand:hover {
    color: #072ac8;
}
.nav-link {
    font-weight: 500;
    color: #6b708d
}
.nav-link:hover {
    color: #072ac8 !important;
}
.active {
    color: #0082f3!important;
}
.active:hover{
    color: #072ac8 !important;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:visited {
    border: none;
}
.navbar-toggler-icon {
    width: 1em;
    color: black;
}

/* Comienza hero-section */
.hero-section h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}
.text-hero {
    font-size: 17px;
    margin-bottom: 40px;
    line-height:1.7rem;
    color: #6b708d;
}
.hero-section img{
    width: 95%;
}

.hero-img img {
    width: 100px;
    height: 96px;
    margin: 0 25%;
}
.projects-section h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0;
}

.projects-section h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 30px 30px 20px;
}
.projects-section img {
    width: 95%;
    height: 220px;
    margin: auto;
}
.projects-section p, a {
    font-weight: 700;
    text-decoration: none;
    margin: 30px 30px 20px;
    font-size: 17px;
}
.projects-section a {
    margin-bottom: 20px;
}
.testimonials-section {
    background: #292e47;

}
.testimonials-section h1 {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin: 20px;
    align-items: center;
}
.testimonials-section .text-y {
        max-width: 560px;
        margin: 40px auto;
        color: #ffc600;
        font-size: 22px;
        line-height: 160%;
        font-weight: 500;
        text-align: center;
}
.test-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(./project-assets/testimonial-section/profile.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;   
    margin-left: 30%;
    margin-right: 5px;
}
.test-text-img {
    display: inline-block;  
}
.test-text-img span {
    color: #0082f3;
    font-weight: 500; 
}
.services-section h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 30px 30px;
    text-align: center;
}
.services {
    background: white;
    margin-bottom: 30px;
}
.services-section img {
    padding: 20px;
    background: #ecf7ff;
    width: 80px;
    margin: 30px 0 0 30px;
    left: 20px;
    border-radius: 50%;
}
.services h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 30px 30px 20px;
}
.services p {
    font-size: 17px;
    margin: 30px 30px 20px;
}
.services-img {
    border-radius: 50%;
}
.newsletter-section {
    background: #ffc600;
}
.newsletter-section h3 {
    font-size: 30px;   
}
.newsletter-section button {
    width: 50%;
    background: #072ac8;
    color: white;
}
#email {
    width: 50%;
}





@media (max-width: 992px) { 
    .nav-button {
        display: none;
    }
    .navbar {
        margin-top:0;
        margin-left: 0;
    }
    .nav-link {
        margin-bottom: 1rem;
    }
    .navbar-brand {
        margin-bottom: 1rem;
    }
    

}